:root{
    --blue-: rgb(20, 114, 255);
    --red-: rgb(255 17 17);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 4000px;
    background-image: url(./Images/flat-lay-frame-office-elements.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fly_button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(45deg);
    background-color: #ffea1b;
    position: fixed;
    bottom: 10px;
    right: -60px;
    outline: 2px solid black;
    animation: light_animation 2s infinite 0.3s linear;
    transition: 0.2s;
}

.fly_button .but_icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fly_button svg{
    transform: rotate(-45deg);
    font-size: 30px;
    color: #000;
}

@keyframes light_animation {
    0%{
        box-shadow: 0 0 6px 5px #d1d1d1;
    }
    50%{
        box-shadow: 0 0 6px 5px #777777;
    }
    100%{
        box-shadow: 0 0 6px 5px #d1d1d1;
    }
}

/* First section */
/* Head */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 64px;
    height: 64px;
}

nav .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 200px;
}

nav .links span{
    text-align: center;
    padding: 10px;
    background-color: var(--blue-);
    border-radius: 30px;
    outline: 2px solid black;
    font-size: 18px;
}

nav .links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav .links a:hover{
    transform: scale(1.1);
}

nav .links a:hover span{
    box-shadow: 0px 0px 4px 2px black outset;
}

/* Head */
/* about */
section{
    width: 100%;
}

section .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    height: 100%;
}

/* Welcome message */
section .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section .about .pic{
    width: 50%;
}

section .about .pic img{
    width: 100%;
}

section .about .text{
    width: 50%;
    text-align: center;
    color: var(--blue-);
    font-weight: bold;
}
/* Welcome message */
/* Some info */
section .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

section .info .inf{
    width: 30%;
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #cdcdcd;
    border-radius: 20px;
}

section .info .inf img{
    width: 64px;
    height: 64px;
}

section .info .inf h6{
    color: var(--blue-);
    font-weight: bold;
}
/* Some info */
/* about */
/* First section */

/* Skills section */
/* Skills parents */
.allSkills{
    margin-top: 10%;
    width: 100%;
}

.allSkills .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 40px
}
/* Skills parents */

/* Title */
.allSkills .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allSkills .title h1{
    font-weight: bold;
}

.allSkills .title hr{
    color: rgb(70, 70, 70);
    height: 5px;
    width: 100%;
    border-radius: 10px;
}
/* Title */

/* Skills */
.allSkills .skills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.allSkills .skills .skill{
    display: flex;
    width: calc(50% - 48px);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 5px;
}

.allSkills .skills .skill .prog{
    width: 100%;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.allSkills .skills .skill .prog span{
    height: 100%;
    width: 0px;
    background-color: black;
    display: block;
    transition: width 0.3s linear;
}
/* Skills */
/* Skills section */

/* Projects section */
.projects{
    margin-top: 10%;
    width: 100%;
    display: flex;
    gap: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .project{
    width: 80%;
    height: 500px;
}

.projects .container{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #84c3fa;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: inset 0 0 4px 7px #77acda;
    outline: 2px solid #080544;
    transition: 1s;
    transition-delay: 0.5s;
    transition-property: opacity, transform;
    transform: translate(-105%, 0px);
}

.projects .project .container .proj_text{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects .project .container .proj_text a{
    text-decoration: none;
}


.projects .project .container .proj_text h6, .projects .project .container .proj_text h1{
    text-align: center;
    font-weight: bold;
}
.projects .project .container .proj_text h6{
    font-size: 20px;
    color: black;
}
.projects .project .container .proj_text h1{
    font-size: 30px;
    color: crimson;
}

.projects .project .container .proj_text h1:hover{
    color: rgb(141, 14, 39);
}

.projects .project .container .proj_image{
    width: 50%;
    height: 60%;
}

.projects .project .container .proj_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Projects section */

/* extra Small devices */
@media (max-width: 499px){
    /* First section */
    /* Head */
    nav .container{
        justify-content: space-around;
    }
    nav .links{
        flex-direction: column;
        height: 73px;
        align-items: end;
    }
    nav .links span{
        font-size: 12px;
    }
    /* Head */
    /* about */
    section{
        margin-top: 10px;
    }
    section .about .text h1, section .about .text h2{
        font-size: 16px;
    }
    section .info {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    section .info .inf{
        width: 40%;
        height: 130px;
    }
    section .info .inf h6 {
        font-size: 10px;
    }
    section .info .inf img {
        width: 40px;
        height: 40px;
    }
    /* about */
    /* First section */
    /* Skills section */
    /* Skills parents */
    .allSkills {
        margin-top: 15%;
    }
    /* Skills parents */
    /* Skills */
    .allSkills .skills .skill{
        width: calc(100% - 48px);
    }
    .allSkills .skills .skill .prog {
        height: 7px;
    }
    .allSkills .skills .skill img{
        width: 38px;
        height: 38px;
    }
    /* Skills */
    /* Skills section */
    /* Projects section */
    .projects .project {
        width: 90%;
        height: 250px;
    }
    .projects .project .container .proj_text {
        width: 45%;
    }
    .projects .project .container .proj_text h6{
        font-size: 9px;
    }
    .projects .project .container .proj_text h1{
        font-size: 13px;
    }
    .projects .project .container .proj_image{
        height: 50%;
    }
    /* Projects section */
}

/* Small devices */
@media (min-width: 500px) and (max-width: 767px){
    /* First section */
    /* about */
    section .about .text h1, section .about .text h2{
        font-size: 20px;
    }
    section .info {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    section .info .inf{
        width: 35%;
        height: 160px;
    }
    section .info .inf h6 {
        font-size: 13px;
    }
    section .info .inf img {
        width: 54px;
        height: 54px;
    }
    /* about */
    /* First section */
    /* Skills section */
    /* Skills parents */
    .allSkills {
        margin-top: 20%;
    }
    /* Skills parents */
    /* Skills */
    .allSkills .skills .skill{
        width: calc(58% - 48px);
    }
    .allSkills .skills .skill img{
        width: 50px;
        height: 50px;
    }
    /* Skills */
    /* Skills section */
    /* Projects section */
    .projects .project {
        height: 400px;
        width: 90%;
    }
    .projects .project .container .proj_text {
        width: 47%;
    }
    .projects .project .container .proj_text h6{
        font-size: 15px;
    }
    .projects .project .container .proj_text h1{
        font-size: 27px;
    }
    /* Projects section */
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 992px){
    /* First section */
    /* about */
    section .info .inf{
        height: 210px;
    }
    section .info .inf h6{
        font-size: 15px;
    }
    /* about */
    /* First section */
    /* Skills section */
    /* Skills */
    .allSkills .skills .skill {
        width: calc(55% - 48px);
    }
    /* Skills */
    /* Skills section */
    /* Projects section */
    .projects .project {
        height: 500px;
    }
    /* Projects section */
}

/* Large devices */
@media (min-width: 993px) and (max-width: 1999px){ 
    /* Projects section */
    .projects .project {
        width: 800px;
        height: 500px;
    }
    /* Projects section */
}

/* X-Large devices */
@media (min-width: 1200px) { 

}